body{font-weight:300;text-align:center;}
h2, h3, h4{margin-bottom:27px;}
h2{margin-top:0;font-family:Montserrat, sans-serif;font-weight:700;text-transform:uppercase;}
@media (max-width:767px){h2, h4, .h2, .h4{font-size:32px;}
}
a{border-bottom:1px solid #f2df0d;-webkit-box-decoration-break:clone;box-decoration-break:clone;}
a:hover:not(.btn){border-bottom:none;}
.btn-like-link{display:inline-block;margin-top:6px;margin-bottom:6px;border:1px solid transparent;font-weight:400;vertical-align:middle;color:#f2df0d;}
.btn-like-link:hover{border-bottom:1px solid #f2df0d !important;}
.skip-link{font-weight:400;line-height:1;border:none;}
.text-shadow{text-shadow:0 0 3px rgba(0, 0, 0, 0.5);}
.material-icons.md-light{color:#fff;}
.material-icons.md-primary{color:#f2df0d;}
.material-icons.md-48{font-size:48px;}
.material-icons.md-60{font-size:60px;}
.icon{display:inline-block;vertical-align:top;width:42px;height:42px;background-repeat:no-repeat;background-size:42px 42px;}
.icon-phone{background-image:url("../images/phone.svg");}
.icon-email{background-image:url("../images/email.svg");}
.icon-facebook{background-image:url("../images/facebook.svg");}
.icon-twitter{background-image:url("../images/twitter.svg");}
.site-header{position:absolute;top:0;width:100%;padding:10px 0;z-index:20;}
h1{margin:15px 0 0;}
.site-logo{height:32px;background-image:url("../images/logo.svg");background-repeat:no-repeat;background-size:178px 32px;background-position:center;}
.site-header-nav{list-style:none;margin:0;padding:0;}
.site-header-nav li{display:inline-block;margin:15px 5px;line-height:32px;font-family:Montserrat, sans-serif;font-size:14px;font-weight:400;text-transform:uppercase;}
.site-header-nav a{display:block;border:none;}
@media (min-width:768px){h1{float:left;width:178px;margin-bottom:15px;}
.site-header-nav li{margin-left:15px;margin-right:15px;}
.site-header-nav{float:right;margin-right:-15px;}
}
footer{padding:30px 0;background-color:#222;font-size:17px;}
.footer-nav a{color:#f2df0d;font-size:16px;font-weight:400;text-transform:uppercase;border:none;}
#copyright-note{color:#ccc;font-size:14px;}
@media (min-width:992px){#copyright-note{width:60%;margin-left:auto;margin-right:auto;}
}
.feature{padding-top:30px;padding-bottom:30px;overflow-x:hidden;}
.bg-alt{background-color:#333A47;}
.bg-primary{color:#444;background-color:#f2df0d;font-weight:400;}
.bg-primary h3, .bg-primary h4, .bg-primary h5,
.bg-primary .h3, .bg-primary .h4, .bg-primary .h5{color:#333;}
.bg-primary a{color:#000;border-bottom-color:rgba(0, 0, 0, 0.5);}
.bg-primary a:hover{border-bottom:1px solid #000;}
.bg-photo{background-repeat:no-repeat;background-size:cover;background-position:center;}
.feature-picture img{max-width:100%;}
img.clipped{margin-bottom:-30px;}
@media (min-width:992px){.feature{padding-top:70px;padding-bottom:70px;}
.feature .row{position:relative;}
.picture-on-left .row,
.picture-on-right .row{min-height:400px;}
.text-only .feature-text{width:60%;margin-left:auto;margin-right:auto;}
.picture-on-left .feature-text,
.picture-on-right .feature-text{position:absolute;top:50%;transform:translateY(-50%);text-align:left;}
.picture-on-left .feature-text{right:0;}
.picture-on-right .feature-picture{float:right;}
.picture-on-left .feature-picture{float:left;direction:rtl;}
.feature-picture img{max-width:none;}
.text-only-two-col .feature-text{text-align:left;}
img.clipped{margin-bottom:-70px;}
}
.company-hero{background-image:url("../images/company/sunrise.jpg");}
.company-hero .container{position:relative;min-height:550px;padding-top:150px;z-index:10;}
.company-hero h2{position:absolute;top:45%;left:50%;transform:translate(-50%, -50%);width:100%;font-size:52px;}
.company-hero .skip-link-container{position:absolute;bottom:0;left:0;right:0;}
.bg-skater{background-image:url("../images/company/skater.jpg");background-position:center top;}
@media (max-width:991px){.bg-skater .feature-text{margin-top:200px;}
}
@media (min-width:768px){.company-hero h2{font-size:72px;}
}
@media (min-width:1200px){.company-hero{background-position:center 90%;}
.company-hero h2{top:40%;}
}
@media (min-width:1400px){.company-hero .container{min-height:750px;}
.company-hero h2{font-size:80px;}
}
.product-hero{padding-bottom:0;}
.product-hero .container{position:relative;}
.product-hero .btn, #learn-more-link{margin-left:15px;margin-right:15px;}
.credit{color:#ddd;font-size:12px;margin-top:30px;}
.credit a{border-bottom-color:rgba(255, 255, 255, 0.5)}
.credit a:hover{color:#fff;border-bottom:1px solid #fff;}
#photos-and-videos{position:relative;}
.product-hero .credit, #photos-and-videos .credit{position:relative;top:-10px;margin-top:0;}
.product-nav{margin-top:50px;}
.product-subsection{position:relative;}
.product-subsection-intro{padding-top:90px;}
.product-subsection-heading{position:absolute;top:0;width:100%;margin:0;padding:40px 0 0;color:#eee;font-family:Montserrat, sans-serif;font-size:16px;font-weight:400;text-transform:uppercase;}
.bg-ovation{background-image:url("../images/artvibe/ovation.jpg");}
.bg-network{background-repeat:no-repeat;background-image:url("../images/artvibe/network.png");background-position:center center;}
.feature-more-item{padding-top:20px;padding-bottom:20px;}
.feature-more-item h5{font-weight:400;}
@media (max-width:991px){#img-filters{max-width:170%;}
}
@media (min-width:992px){.product-hero .lead{margin-bottom:40px;}
.product-hero .credit{top:-20px;}
.product-subsection-intro{padding-top:130px;}
#img-production-profile{margin-top:-230px;}
#img-photos-and-videos{max-width:900px;}
#img-isometric-screens{margin-bottom:-175px;}
.isometric-screens-hack{overflow-y:hidden;}
.bg-network{background-position:10% center;}
}
.contact-items{width:270px;margin:27px auto 13.5px auto;text-align:left;}
.contact-item{margin-bottom:13.5px;font-size:20px;line-height:42px;}
.contact-item a{border-bottom:none;}
@media (min-width:992px){.contact-items{margin-top:0;}
}
.form-control{-webkit-box-shadow:none;box-shadow:none;-webkit-transition:none;-o-transition:none;transition:none;}
.form-control:focus{-webkit-box-shadow:none;box-shadow:none;}